@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: nunito;
}
a {
  font-weight: 600;
}
a:hover {
  transition: all 0.8s ease-in-out;
}
header a:hover {
  color: #1d4ed8;
}
.nav-list {
  margin: 1rem;
}
.slideHidden {
  display: none;
}
.prev,
.next {
  height: 1.2rem;
  color: white;
}
.slider {
  height: 100vh; /* 100 percent viewport height */
  transition: all 1s ease-out;
}
.slider-img {
  transform: translate();
  transition: all 1s ease-out;
}
.service-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 32px 0px;
}
.service-card:hover {
  background-color: #1d4ed8;
  transform: translateY();
  transition: background-color 0.7s ease-in;
}
.project-slides {
  height: 400px;
}
.project-slides:hover {
  .subject {
    display: block;
    transform: translateY(10);
    transition: 0.4s ease-in;
  }
  .project-img {
    opacity: 0.5;
    transition: all 0.6s ease-in-out;
    transform: scale(50px);
  }
}
.work-img {
  background-color: #1d4ed8;
  border-radius: 50px;
  padding: 4px;
}
.testimonal-card {
  height: 320px;
  box-shadow: 0px 5px 8px rgb(0, 0, 0, 0.24);
}
.client-pic {
  border-radius: 50%;
}
.testimony {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}
.slideVisible {
  opacity: 1;
  transform: translateX(0);
  width: 100%;
}
.slideExit {
  opacity: 0;
  transform: translateX(-100%);
}
.slideHidden {
  display: none;
  opacity: 0;
  transform: translateX(100%);
}
.indicator-inactive {
  color: gray;
}
.indicator {
  color: #1d4ed8;
}
.CTA:hover {
  opacity: 0.5;
  transition: all 0.8ms ease-out;
}
.about-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.mergedImg1 {
  width: 350px;
  height: 20%;
  object-fit: cover;
  margin: 20px;
}
.mergedImg2 {
  width: 350px;
  height: 20%;
  object-fit: cover;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
